.product-card img {
  width:20px;
  height:20px;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}


.product-card {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 15rem;
  border-radius: 1rem;
  text-align: center;
  background-color: #fff;
}

.product-card h4 {
  font-size: 1.2rem;
}

.product-card p {
  margin: 0.5rem 0;
}

.product-card button {
  padding: 0.5rem 1rem;
  font-size:1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background-color:green;
  color:white;
}

.qty-control {
  display: flex;
  justify-content: center;
}

.qty-control button {
 background-color:green;
 color:white;
 border:none;
 border-radius:0.5rem;
 padding:0.3rem 0.7rem;
 font-size:1rem;
 cursor:pointer;
}

.qty-control div {
   font-size: 1rem;
   width: 2rem;
   text-align:center;
   align-content: center;
}


.product-list {
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
}

.header {
  display:flex;
  position: sticky;
  top: 0rem;
  justify-content: space-between;
  align-items: center;
  /* margin: 1.6rem; */
  /* border:1px solid lightwhite; */
  z-index: 1;
  border-radius: 0.5rem;
  padding:1rem;
  border-bottom:0.1rem solid lightgrey;
  background-color: rgb(211, 228, 212);
}

.cart-btn, .back-btn {

  padding: 0.5rem 1rem;
  font-size:1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background-color:green;
  color:white;
}


.description {
  font-size: 0.9rem;
  color: #555;
  margin:1rem 0;
}

.cart-drawer {
  position: fixed;
  top:0;
  right:0;
  width:20rem;
  height:100vh;
  background-color: rgb(201, 238, 201);
  padding: 1rem;
  overflow-y: auto ;
  z-index: 1000;
}

.cart-header {
  position: sticky;
  top:0rem;
  /* background-color: darkgrey; */
  display:  flex;
  align-items: center;
  justify-content: space-between;
  padding:0.5rem;
  font-weight:bold;
  border-bottom: 1px solid darkgrey;
  z-index: 1000;
}

.cart-item {
  border-bottom: 1p solid #ccc;
  padding: 1rem 0;
}

.cart-item button {
  margin-right: 0.5rem;
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.total{
  margin-top:1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.add-to-cart-btn {
  display: block;
  margin: auto;
}

.home-page {
  background-color: rgb(231, 243, 231);
}


.header-name{
  font-size:3rem;
  padding: 1rem;
}